<ion-header>
  <ion-toolbar>
    <ion-title>Mathematics posts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Mark Patrick</ion-label>
      </ion-item>

  </ion-card-header>

  <ion-card-content>
    I need help, I don't understand 7th grade algebra. 😢
  </ion-card-content>

  

</ion-card>

<ion-card>
  <ion-card-header>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=32&d=identicon&r=PG">
    </ion-avatar>
    <ion-label>Francisca Montogna</ion-label>
  </ion-item>
  </ion-card-header>

  <ion-card-content>
    Check out this math youtube channel: https://www.youtube.com/c/3blue1brown/featured
  </ion-card-content>
</ion-card>
<ion-content>

</ion-content>
