<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item href="math-post" class="ion-activated">
      <ion-img src="/assets/mathematics.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/physics.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/logics.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/economy.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/history.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/geography.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/english.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/sociology.jpg"></ion-img>

    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/biology.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/chemistry.jpg"></ion-img>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-img src="/assets/more.jpg"></ion-img>

    </ion-item>
  </ion-card>


</ion-content>
