<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Auction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=7">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Terek Riley 5 <ion-icon name="star"></ion-icon></h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>💰10 EduCoins to help you! </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=21">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Betty Johnson 3 <ion-icon name="star"></ion-icon></h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>💰 8 EduCoins to help you! </h1>
      </ion-text>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=18">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Steven Morales 4.5 <ion-icon name="star"></ion-icon></h1>
          </ion-text>
        </ion-label>

      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>💰 5 EduCoins to help you! </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=4">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Mark Patrick</h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>Auction done. Thanks for participating!</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
