

<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Mathematics posts</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card>


      <ion-card-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/400?img=4">
          </ion-avatar>

          <ion-label>
            <ion-text style="font-weight: bold">
              <h1>Mark Patrick</h1>
            </ion-text>

          </ion-label>
        </ion-item>


      </ion-card-header>

      <ion-card-content>
        <ion-text color="dark">
          <h1>I need help, I don't understand 7th grade algebra. 😢</h1>
        </ion-text>
        <ion-button color="tertiary" href="math-auctions">
          Add a Comment
        </ion-button>
      </ion-card-content>



    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/400?img=26">
          </ion-avatar>
          <ion-label>
            <ion-text style="font-weight: bold">
              <h1>Francisca Salvador</h1>
            </ion-text>

          </ion-label>
        </ion-item>

      </ion-card-header>

      <ion-card-content>
        <ion-text color="dark">
          <h1>Check out this math youtube channel: https://www.youtube.com/c/3blue1brown/featured </h1>
        </ion-text>
        <ion-button color="tertiary">
          Add a Comment
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/400?img=44">
          </ion-avatar>

          <ion-label>
            <ion-text style="font-weight: bold">
              <h1>Jasmine Li</h1>
            </ion-text>
            </ion-label>
        </ion-item>

      </ion-card-header>

      <ion-card-content>
        <ion-text color="dark">
          <h1>I need some materials on permutations! ASAP! </h1>
        </ion-text>

        <ion-button color="tertiary" href="post8comment">
          Add a Comment
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-content>
      <ion-list style="text-align:center">

        <ion-button color="primary">
          Add a post
        </ion-button>

      </ion-list>

    </ion-content>

  </ion-content>

