<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Auction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?img=10">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Joanne McGiffin 4.7 <ion-icon name="star"></ion-icon></h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>💰10 EduCoins to help you! </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=69">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Matthew Connolly 2 <ion-icon name="star"></ion-icon></h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>💰 8 EduCoins to help you! </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=68">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Taylor Donnelly 4.2 <ion-icon name="star"></ion-icon></h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>💰 3 EduCoins to help you! </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/400?img=44">
        </ion-avatar>
        <ion-label>
          <ion-text style="font-weight: bold">
            <h1>Jasmine Li</h1>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1>Auction done! </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
