<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://cdn.discordapp.com/attachments/779421917429497858/780011220241088512/cute-astronaut-read-book-planet-cartoon-icon-illustration-science-technology-icon-concept-isolated-f.png" alt = "blank-profile-picture">
      <ion-item>
        Rating: 4.5
        <ion-icon name="star"></ion-icon>
        /109 reviews
      </ion-item>
      <ion-item>EduCoins Balance: 30 💰</ion-item>
      <ion-button expand="block">View my posts</ion-button>
      <ion-button expand="block"> Convert EduCoins </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
