<ion-header>
  <ion-toolbar>
    <ion-title>Auction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>John Smith 5⭐</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      10 EduCoins to help you!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Mariah Carrey 3⭐</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      8 EduCoins to help you!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Steven Jobless 4.5⭐</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      5 EduCoins to help you!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Mark Patrick</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      Auction done. Thanks for participating!
    </ion-card-content>
  </ion-card>

</ion-content>
